@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main>
  <section>
    <h1 class="text-center py-5 titulo">Contate-nos</h1>
      <form class="container text-center contato">
        <div class="row divContato">
          <div class="col-12 col-sm">
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="name@example.com"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >Mensagem</label
                >
                <textarea
                  class="form-control"
                  id="exampleInputPassword1"
                ></textarea>
              </div>
             
              <button type="submit" class="btnContato btn">Enviar</button>
            </form>
          </div>
          
        </div>
      </form>
  </section>
</main>