@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<main>
    <h1 class="text-center mt-3 titulo">Promoções</h1>
  <section class="flexbox">
    <div class="card m-4 " style="width: 18rem;">
      <img src="~/img/cards/ilhasMaldivas.jpg" class="card-img-top" alt="Ilhas Maldivas">
      <div class="card-body text-center">
        <h5 class="card-title">Ilhas Maldivas</h5>
        <p class="card-text"><s class="precoAntigo">R$ 3499,00</s><br><b>R$ 2999,90</b></p>
        <a asp-action="Index" asp-controller="Clientes" class="btn btn-outline">Reservar</a>
      </div>
    </div>



    <div class="card m-4" style="width: 18rem;">
      <img src="~/img/cards/Paris.jpg" class="card-img-top" alt="Paris">
      <div class="card-body text-center">
        <h5 class="card-title">Paris</h5>
        <p class="card-text"><s class="precoAntigo">R$ 3299,00</s><br><b>R$ 2799,90</b></p>
        <a asp-action="Index" asp-controller="Clientes" class="btn btn-outline">Reservar</a>
      </div>
    </div>


    <div class="card m-4" style="width: 18rem;">
      <img src="~/img/cards/ilhas-caribe.jpg.webp" class="card-img-top" alt="Caribe">
      <div class="card-body text-center">
        <h5 class="card-title">Caribe</h5>
        <p class="card-text"><s class="precoAntigo">R$ 3199,00</s><br><b>R$ 2699,90</b></p>
        <a asp-action="Index" asp-controller="Clientes" class="btn btn-outline">Reservar</a>
      </div>
    </div>

    <div class="card m-4" style="width: 18rem;">
      <img src="~/img/cards/Angra.jpg" class="card-img-top" alt="Angra dos Reis">
      <div class="card-body text-center">
        <h5 class="card-title">Angra dos Reis</h5>
        <p class="card-text"><s class="precoAntigo">R$ 399,00</s><br><b>R$ 269,90</b></p>
        <a asp-action="Index" asp-controller="Clientes" class="btn btn-outline">Reservar</a>
      </div>
    </div>

  </section>
  <section class="flexbox">
    <div class="card m-4 " style="width: 18rem;">
      <img src="~/img/cards/chile.jfif" class="card-img-top" alt="Chile">
      <div class="card-body text-center">
        <h5 class="card-title">Chile</h5>
        <p class="card-text"><s class="precoAntigo">R$ 899,00</s><br><b>R$ 699,90</b></p>
        <a asp-action="Index" asp-controller="Clientes" class="btn btn-outline">Reservar</a>
      </div>
    </div>



    <div class="card m-4" style="width: 18rem;">
      <img src="~/img/cards/florida.jpg" class="card-img-top" alt="Florida">
      <div class="card-body text-center">
        <h5 class="card-title">Florida</h5>
        <p class="card-text"><s class="precoAntigo">R$ 3299,00</s><br><b>R$ 2799,90</b></p>
        <a asp-action="Index" asp-controller="Clientes" class="btn btn-outline">Reservar</a>
      </div>
    </div>


    <div class="card m-4" style="width: 18rem;">
      <img src="~/img/cards/fortaleza.jpg" class="card-img-top" alt="Fortaleza">
      <div class="card-body text-center">
        <h5 class="card-title">Fortaleza</h5>
        <p class="card-text"><s class="precoAntigo">R$ 599,00</s><br><b>R$ 499,90</b></p>
        <a asp-action="Index" asp-controller="Clientes" class="btn btn-outline">Reservar</a>
      </div>
    </div>

    <div class="card m-4" style="width: 18rem;">
      <img src="~/img/cards/genebra.jpg" class="card-img-top" alt="Genebra">
      <div class="card-body text-center">
        <h5 class="card-title">Genebra</h5>
        <p class="card-text"><s class="precoAntigo">R$ 3699,00</s><br><b>R$ 2999,90</b></p>
        <a asp-action="Index" asp-controller="Clientes" class="btn btn-outline">Reservar</a>
      </div>
    </div>

  </section>
  <section class="flexbox">
    <div class="card m-4 " style="width: 18rem;">
      <img src="~/img/cards/Recife.jpeg" class="card-img-top" alt="Recife">
      <div class="card-body text-center">
        <h5 class="card-title">Recife</h5>
        <p class="card-text"><s class="precoAntigo">R$ 499,00</s><br><b>R$ 399,90</b></p>
        <a asp-action="Index" asp-controller="Clientes" class="btn btn-outline">Reservar</a>
      </div>
    </div>



    <div class="card m-4" style="width: 18rem;">
      <img src="~/img/cards/Salvador.jpeg" class="card-img-top" alt="Salvador">
      <div class="card-body text-center">
        <h5 class="card-title">Salvador</h5>
        <p class="card-text"><s class="precoAntigo">R$ 499,00</s><br><b>R$ 359,90</b></p>
        <a asp-action="Index" asp-controller="Clientes" class="btn btn-outline">Reservar</a>
      </div>
    </div>


    <div class="card m-4" style="width: 18rem;">
      <img src="~/img/cards/sp.jpg" class="card-img-top" alt="São Paulo">
      <div class="card-body text-center">
        <h5 class="card-title">São Paulo</h5>
        <p class="card-text"><s class="precoAntigo">R$ 199,00</s><br><b>R$ 169,90</b></p>
        <a asp-action="Index" asp-controller="Clientes" class="btn btn-outline">Reservar</a>
      </div>
    </div>

    <div class="card m-4" style="width: 18rem;">
      <img src="~/img/cards/Roma.jpg" class="card-img-top" alt="Roma">
      <div class="card-body text-center">
        <h5 class="card-title">Roma</h5>
        <p class="card-text"><s class="precoAntigo">R$ 3099,00</s><br><b>R$ 2399,90</b></p>
        <a asp-action="Index" asp-controller="Clientes" class="btn btn-outline">Reservar</a>
      </div>
    </div>

  </section>
  <section class="flexbox">
    <div class="card m-4 " style="width: 18rem;">
      <img src="~/img/cards/espanha-barcelona.jpg" class="card-img-top" alt="Barcelona">
      <div class="card-body text-center">
        <h5 class="card-title">Barcelona</h5>
        <p class="card-text"><s class="precoAntigo">R$ 3299,00</s><br><b>R$ 2899,90</b></p>
        <a asp-action="Index" asp-controller="Clientes" class="btn btn-outline">Reservar</a>
      </div>
    </div>



    <div class="card m-4" style="width: 18rem;">
      <img src="~/img/cards/madrid.jpg" class="card-img-top" alt="Madrid">
      <div class="card-body text-center">
        <h5 class="card-title">Madrid</h5>
        <p class="card-text"><s class="precoAntigo">R$ 3299,00</s><br><b>R$ 2799,90</b></p>
        <a asp-action="Index" asp-controller="Clientes" class="btn btn-outline">Reservar</a>
      </div>
    </div>


    <div class="card m-4" style="width: 18rem;">
      <img src="~/img/cards/lisboa.jpg" class="card-img-top" alt="Lisboa">
      <div class="card-body text-center">
        <h5 class="card-title">Lisboa</h5>
        <p class="card-text"><s class="precoAntigo">R$ 3199,00</s><br><b>R$ 2999,90</b></p>
        <a asp-action="Index" asp-controller="Clientes" class="btn btn-outline">Reservar</a>
      </div>
    </div>

    <div class="card m-4" style="width: 18rem;">
      <img src="~/img/cards/israel.jpg" class="card-img-top" alt="Israel">
      <div class="card-body text-center">
        <h5 class="card-title">Israel</h5>
        <p class="card-text"><s class="precoAntigo">R$ 4199,00</s><br><b>R$ 3699,90</b></p>
        <a asp-action="Index" asp-controller="Clientes" class="btn btn-outline">Reservar</a>
      </div>
    </div>

  </section>
</main>